html { 
    font-size: 20px; 
    -webkit-font-smoothing: antialiased;
}

.navbar { 
    position: fixed;
    top: 0; left: 0; right: 0;
    height: 4rem;
}

.logo { 
    height: 3rem; 
    max-height: 3rem; 
}

.sidebar-button-image { 
    height: 1rem;
    max-height: 1rem;
}

.sidebar-mask { 
    position: fixed;
    top: 0; left: 0;
    width: 100vw; height: 100vh; 
    display: none;
    z-index: 9;
}

.sidebar { 
    position: fixed;
    top: 4rem; left: 0; bottom: 0;
    width: 15rem;
    box-sizing: border-box;
    overflow-y: auto;
    z-index: 10;
}

.sidebar-subsection-link { 
    border-left: 4px solid rgba(0,0,0,0);
}

.sidebar-subsection-link.active { 
    border-color: blue;
}

.sidebar-page-link { 
    font-size: 0.75rem;
}

.content { 
    margin-top: 4rem;
}

@media screen and (min-width: 60em) {
    .content { 
        margin-left: 15rem;
    }
}

/* --- Partials --- */

figure {
    text-align: center;
}

figcaption {
    text-align: left;
}

.footnotes hr {
    border: 0;
    height: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0);
}

.footnotes li {
    margin-bottom: 1rem;
}

/* --- Search --- */

#fastSearch { 
    position: absolute;
    right: 1.25rem;
    top: 1rem;
    display: inline-block;
    width: 300px;
}      

#fastSearch input { 
    padding: 4px 10px;
    width: 100%;
    height: 31px;
    color: #aaa;
    outline: none;
    text-align: left;
    display: inline-block;
}

#searchResults:empty { 
    border: none;
}

#searchResults { 
    display: inline-block; 
    width: 310px; 
    border-bottom: none;
}

#searchResults li { 
    list-style: none; 
    margin-left: 0em;
    width: 100%;
    border-bottom: 1px solid #ccc;
}

#searchResults li .title { 
    margin-bottom: 10px; 
    display: block;
}

#searchResults a { 
    text-decoration: none !important; 
    padding: 10px; 
    width: 100%;
    display: inline-block; 
}

#searchResults a:hover, a:focus { 
    outline: 0; 
    background-color: #666; 
    color: #fff; 
}
