{{ define "main" }}
<main class="pa3 pt2 center measure-wide lh-copy">
    {{ with .Content }}
    <div class="serif f6 pb2 lh-copy">
        {{- . -}}
    </div>
    {{ end }}


    {{ range .Site.Sections }}

        <h2 class="f2 f3-ns"><a href="{{.Permalink}}">{{ .Title }}</a></h2>

        {{ range (where .Site.Pages "Section" .Section) }}
            {{ if gt (len .Sections) 0 }}
                <ul class="list pl0">
                    {{ range .Sections }}
                    <li class="lh-copy f3 f4-ns">
                        <a href="{{.Permalink}}">{{ .Title }}</a>
                    </li>
                    {{ end }}
                </ul>
            {{ end }}
        {{ end }}


    {{ end }}

    

</main>
{{ end }}
