{{ define "main" }}
<main class="pa3 center measure-wide lh-copy">

    <header class="mb4">
        <h2 class="f4 f3-ns mt0 mb0 lh-title">{{ .Title }}</h2>
        <div class="f7">
            {{ if .Params.coordinates }}&nbsp;·&nbsp;{{- partial "coordinates.html" . -}}{{end}}
        </div>
    </header>

    {{ with .Content }}
    <div class="serif f6 pb2 lh-copy">
        {{- . -}}
    </div>
    {{ end }}

    {{ with .Pages.Reverse }}
    <ul class="list pl0">
    {{ range . }}
        {{ if not (eq .Params.hideFromNav "true") }}
            <li class="lh-copy">
              <a href="{{.Permalink}}" class="f5 f4-ns">{{ .Title }}</a>
            </li>
        {{ end }}
    {{ end }}
    {{ end }}
    </ul>
</main>
{{ end }}
