{{ define "title" }}
  {{ .Title }} | {{ .Site.Title }}
{{ end }}

{{ define "main" }}

<main class="pa3 pt2 center measure-wide lh-copy">
    <header class="mb4">
        <h2 class="f4 f3-ns mt0 mb0 lh-title">{{ .Title }}</h2>
        <div class="f7">
            {{- partial "date.html" . -}}{{ if .Params.coordinates }}&nbsp;·&nbsp;{{- partial "coordinates.html" . -}}{{end}}
        </div>
    </header>
    <div class="serif f6 pb2 lh-copy">
        {{ .Content }}
    </div>
    <footer class="f7 cf">
        <div class="fl w-third tl">
        {{if .PrevInSection}}
            <a href="{{.PrevInSection.Permalink}}">{{.Site.Params.PrevLabel}}</a>
        {{else}}
            &nbsp;
        {{end}}
        </div>
        <div class="fl w-third tc">
            <a href="{{.CurrentSection.Permalink}}">{{.Site.Params.IndexLabel}}</a>
        </div>
        <div class="fl w-third tr">
        {{if .NextInSection}}
            <a href="{{.NextInSection.Permalink}}">{{.Site.Params.NextLabel}}</a>
        {{else}}
            &nbsp;
        {{end}}
        </div>
    </footer>
</main>

{{ end }}
