<header class="navbar v-mid db pa2 f4 lh-copy bg-near-white bb-ns b--moon-gray">

    {{ with "images/list.svg" }}
    <div id="sidebarButton" class="dib dn-l pointer">
        <img src="{{ . | absURL}}" class="dib h2 pa2" alt="sidebar-button"/>
    </div>
    {{end}}

    <div id="fastSearch" class="pv2">
        <input id="searchInput" class="ba b--moon-gray" placeholder="Suche" tabindex="0">
        <ul id="searchResults" class="pl0 f6 bg-near-white ba b--moon-gray "></ul>
    </div>
</header>
