<header class="pa3 pb5 f4 lh-copy">
    <nav>
        <div class="fl w-10">
        {{ if (fileExists "static/images/logo.png") -}}
            <a href="{{ "/" | absURL}}">
                <img src="{{ "/images/logo.png" | absURL}}" class="logo dib" alt="logo">
            </a>
        {{end}}
        </div>
        <ul class="list fl w-90 pa2 mv1 fw5 tr">
        {{ $currentPage := . }}
        {{ range .Site.Menus.main }}
            <li class="pl3 dib">       
                <a class="{{if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}active{{end}}" href="{{ .URL }}" title="{{ .Title }}">{{ .Name }}</a>
            </li>
        {{ end }}
        </ul>
    </nav>
</header>
